In [1]:
!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Collecting scikit-learn
  Downloading scikit_learn-1.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 22.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.2.2
    Uninstalling scikit-learn-1.2.2:
      Successfully uninstalled scikit-learn-1.2.2
Successfully installed scikit-learn-1.3.0

In [2]:
import sklearn

print("scikit-learn version:", sklearn.__version__)

scikit-learn version: 1.3.0

In [3]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [4]:
!kaggle datasets download -d ebrahimhaquebhatti/pakistan-house-price-prediction

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading pakistan-house-price-prediction.zip to /content
  0% 0.00/8.14M [00:00<?, ?B/s]
100% 8.14M/8.14M [00:00<00:00, 123MB/s]

In [5]:
import zipfile
zip_ref = zipfile.ZipFile('/content/pakistan-house-price-prediction.zip', 'r')
zip_ref.extractall('/content')
zip_ref.close()

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [7]:
import numpy as np
data=pd.read_csv("Entities.csv")

In [8]:
data.isnull().sum()

Unnamed: 0           0
property_id          0
location_id          0
page_url             0
property_type        0
price                0
location             0
city                 0
province_name        0
latitude             0
longitude            0
baths                0
purpose              0
bedrooms             0
date_added           0
agency           44071
agent            44072
Total_Area           0
dtype: int64

In [9]:
data.shape

(168446, 18)

In [10]:
data.head()

,Unnamed: 0,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,purpose,bedrooms,date_added,agency,agent,Total_Area
0,0,237062,3325,https://www.zameen.com/Property/g_10_g_10_2_gr...,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,For Sale,2,2/4/2019,NaN,NaN,1089.004
1,1,346905,3236,https://www.zameen.com/Property/e_11_2_service...,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,For Sale,3,5/4/2019,NaN,NaN,15246.056
2,2,386513,764,https://www.zameen.com/Property/islamabad_g_15...,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,For Sale,5,7/17/2019,NaN,NaN,2178.008
3,3,656161,340,https://www.zameen.com/Property/islamabad_bani...,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,For Sale,4,4/5/2019,NaN,NaN,10890.000
4,4,841645,3226,https://www.zameen.com/Property/dha_valley_dha...,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,For Sale,3,7/10/2019,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,2178.008

In [11]:
columns_to_drop = ['Unnamed: 0','location_id','page_url','date_added','agent','agency','latitude','longitude','province_name']
data = data.drop(columns=columns_to_drop)

In [12]:
data.head()

,property_id,property_type,price,location,city,baths,purpose,bedrooms,Total_Area
0,237062,Flat,10000000,G-10,Islamabad,2,For Sale,2,1089.004
1,346905,Flat,6900000,E-11,Islamabad,3,For Sale,3,15246.056
2,386513,House,16500000,G-15,Islamabad,6,For Sale,5,2178.008
3,656161,House,43500000,Bani Gala,Islamabad,4,For Sale,4,10890.000
4,841645,House,7000000,DHA Defence,Islamabad,3,For Sale,3,2178.008

In [13]:
data['property_id'].duplicated().sum()

0

In [14]:
data.describe()

        property_id         price          baths       bedrooms    Total_Area
count  1.684460e+05  1.684460e+05  168446.000000  168446.000000  1.684460e+05
mean   1.559626e+07  1.776576e+07       2.874227       3.179422  1.394239e+04
std    2.251207e+06  3.531003e+07       2.463400       1.971401  8.623647e+05
min    8.657500e+04  0.000000e+00       0.000000       0.000000  0.000000e+00
25%    1.488320e+07  1.750000e+05       0.000000       2.000000  1.905757e+03
50%    1.665851e+07  8.500000e+06       3.000000       3.000000  4.356016e+03
75%    1.708662e+07  1.950000e+07       4.000000       4.000000  1.197904e+04
max    1.735772e+07  2.000000e+09     403.000000      68.000000  3.387988e+08

In [15]:
data[data.baths==0].shape

(42382, 9)

In [16]:
data['Total_Area']=data['Total_Area'].astype(int)

In [17]:
df2 = data[data['Total_Area'] > 100000].index
data.drop(df2, inplace=True)
data.reset_index(drop=True, inplace=True)  # Reset index and drop the old index column
print(data.shape)

(167295, 9)

In [18]:
data.tail()

,property_id,property_type,price,location,city,baths,purpose,bedrooms,Total_Area
167290,17355248,House,26500000,Gadap Town,Karachi,0,For Sale,6,26136
167291,17355249,House,12500000,Gadap Town,Karachi,0,For Sale,3,2178
167292,17355250,House,27000000,Gadap Town,Karachi,0,For Sale,6,26136
167293,17355251,House,11000000,Gadap Town,Karachi,0,For Sale,3,21235
167294,17355287,House,9000000,Bahria Town Karachi,Karachi,3,For Sale,3,25591

In [19]:
df=data.loc[(data['bedrooms']==0) | (data['baths']==0)].index
df

Int64Index([    18,     43,     45,     50,     51,     52,     55,     56,
                78,     79,
            ...
            167243, 167244, 167245, 167251, 167254, 167289, 167290, 167291,
            167292, 167293],
           dtype='int64', length=42502)

In [20]:
# Calculate the mean of non-zero bedrooms
mean_bedrooms = data.loc[data["bedrooms"] > 0, "bedrooms"].mean().astype(int)
mean_bedrooms

3

In [21]:
# Replace 0 bedrooms with the mean
data.loc[data["bedrooms"] == 0, "bedrooms"] = mean_bedrooms

In [22]:
# Calculate the mean of non-zero bathrooms
mean_baths = data.loc[data["baths"] > 0, "baths"].mean().astype(int)
mean_baths

3

In [23]:
# Replace 0 bathrooms with the mean
data.loc[data["baths"] == 0, "baths"] = mean_baths

In [24]:
data.loc[18]

property_id                 2384979
property_type                  Flat
price                       1750000
location         PWD Housing Scheme
city                      Islamabad
baths                             3
purpose                    For Sale
bedrooms                          3
Total_Area                     4083
Name: 18, dtype: object

In [25]:
df=data.loc[(data['bedrooms']==0) | (data['baths']==0)].index
df.shape

(0,)

In [26]:
data['price_per_sqfeet']=data['price']/data['Total_Area']

In [27]:
data.describe()

,property_id,price,baths,bedrooms,Total_Area,price_per_sqfeet
count,1.672950e+05,1.672950e+05,167295.000000,167295.000000,167295.000000,1.672950e+05
mean,1.559733e+07,1.714223e+07,3.618829,3.572522,9409.835709,inf
std,2.249533e+06,3.196652e+07,1.841051,1.513868,13735.863303,NaN
min,8.657500e+04,0.000000e+00,1.000000,1.000000,0.000000,0.000000e+00
25%,1.488409e+07,1.700000e+05,3.000000,3.000000,1905.000000,3.431373e+01
50%,1.665996e+07,8.500000e+06,3.000000,3.000000,4356.000000,1.215959e+03
75%,1.708662e+07,1.940000e+07,4.000000,4.000000,11434.000000,7.347539e+03
max,1.735772e+07,1.430000e+09,403.000000,28.000000,98010.000000,inf

In [28]:
data['location'].value_counts()

DHA Defence                21944
Bahria Town Karachi         8524
Bahria Town Rawalpindi      8477
Bahria Town                 6404
Gulistan-e-Jauhar           5862
                           ...
Dilawar Colony                 1
Lawyers Housing Society        1
Victoria Heights               1
Jamal Homes                    1
Sundar                         1
Name: location, Length: 1502, dtype: int64

In [29]:
data.describe()

,property_id,price,baths,bedrooms,Total_Area,price_per_sqfeet
count,1.672950e+05,1.672950e+05,167295.000000,167295.000000,167295.000000,1.672950e+05
mean,1.559733e+07,1.714223e+07,3.618829,3.572522,9409.835709,inf
std,2.249533e+06,3.196652e+07,1.841051,1.513868,13735.863303,NaN
min,8.657500e+04,0.000000e+00,1.000000,1.000000,0.000000,0.000000e+00
25%,1.488409e+07,1.700000e+05,3.000000,3.000000,1905.000000,3.431373e+01
50%,1.665996e+07,8.500000e+06,3.000000,3.000000,4356.000000,1.215959e+03
75%,1.708662e+07,1.940000e+07,4.000000,4.000000,11434.000000,7.347539e+03
max,1.735772e+07,1.430000e+09,403.000000,28.000000,98010.000000,inf

In [30]:
(data['Total_Area']/data['bedrooms']).describe()

count    167295.000000
mean       2928.862204
std        4043.416463
min           0.000000
25%         544.400000
50%        1089.000000
75%        4356.000000
max       98010.000000
dtype: float64

In [31]:
data=data[((data['Total_Area']/data['bedrooms'])>=300)]
data.describe()

,property_id,price,baths,bedrooms,Total_Area,price_per_sqfeet
count,1.566770e+05,1.566770e+05,156677.000000,156677.000000,156677.000000,156677.000000
mean,1.560549e+07,1.776605e+07,3.621157,3.546577,9983.115926,3896.295844
std,2.246338e+06,3.285835e+07,1.571070,1.501196,14009.725817,5189.671244
min,8.657500e+04,0.000000e+00,1.000000,1.000000,544.000000,0.000000
25%,1.491028e+07,1.400000e+05,3.000000,3.000000,2178.000000,28.650138
50%,1.666286e+07,9.000000e+06,3.000000,3.000000,5445.000000,1010.101010
75%,1.708732e+07,2.000000e+07,4.000000,4.000000,11979.000000,7086.614173
max,1.735772e+07,1.430000e+09,14.000000,28.000000,98010.000000,316804.407713

In [32]:
def  remove_outlier_sqft(df):
    df_output=pd.DataFrame()
    for key,subdf in data.groupby('location'):
        m=np.mean(subdf.price_per_sqfeet)
        st=np.std(subdf.price_per_sqfeet)
        gen_df=subdf[(subdf.price_per_sqfeet>(m-st))&(subdf.price_per_sqfeet <= (m+st))]
        df_output=pd.concat( [df_output , gen_df ], ignore_index=True)
    return df_output

data=remove_outlier_sqft(data)
data.describe()

,property_id,price,baths,bedrooms,Total_Area,price_per_sqfeet
count,1.237070e+05,1.237070e+05,123707.00000,123707.000000,123707.000000,123707.000000
mean,1.563804e+07,1.387707e+07,3.55085,3.466530,11049.585577,2753.901020
std,2.225483e+06,2.287092e+07,1.53442,1.465798,14753.547707,3546.616583
min,3.469050e+05,0.000000e+00,1.00000,1.000000,544.000000,0.000000
25%,1.497308e+07,8.500000e+04,3.00000,3.000000,2178.000000,22.038567
50%,1.668884e+07,7.000000e+06,3.00000,3.000000,5445.000000,717.401286
75%,1.709042e+07,1.700000e+07,4.00000,4.000000,13068.000000,5693.296602
max,1.735772e+07,6.000000e+08,14.00000,28.000000,98010.000000,36737.692873

In [33]:
df1=data.loc[(data['bedrooms']>=20) | (data['baths']>=15)].index
df1.shape

(8,)

In [34]:
data.describe()

,property_id,price,baths,bedrooms,Total_Area,price_per_sqfeet
count,1.237070e+05,1.237070e+05,123707.00000,123707.000000,123707.000000,123707.000000
mean,1.563804e+07,1.387707e+07,3.55085,3.466530,11049.585577,2753.901020
std,2.225483e+06,2.287092e+07,1.53442,1.465798,14753.547707,3546.616583
min,3.469050e+05,0.000000e+00,1.00000,1.000000,544.000000,0.000000
25%,1.497308e+07,8.500000e+04,3.00000,3.000000,2178.000000,22.038567
50%,1.668884e+07,7.000000e+06,3.00000,3.000000,5445.000000,717.401286
75%,1.709042e+07,1.700000e+07,4.00000,4.000000,13068.000000,5693.296602
max,1.735772e+07,6.000000e+08,14.00000,28.000000,98010.000000,36737.692873

In [35]:
status_counts = data['purpose'].value_counts()

print("Counts of properties for sale and for rent:")
print(status_counts)

Counts of properties for sale and for rent:
For Sale    81357
For Rent    42350
Name: purpose, dtype: int64

In [36]:
data.isnull().sum()

property_id         0
property_type       0
price               0
location            0
city                0
baths               0
purpose             0
bedrooms            0
Total_Area          0
price_per_sqfeet    0
dtype: int64

In [37]:
data['Total_Area'].dtype

dtype('int64')

In [38]:
data['property_type'].unique()

array(['Upper Portion', 'Penthouse', 'House', 'Flat', 'Room',
       'Lower Portion', 'Farm House'], dtype=object)

In [39]:
data.head()

,property_id,property_type,price,location,city,baths,purpose,bedrooms,Total_Area,price_per_sqfeet
0,9154510,Upper Portion,40000,12th Avenue,Islamabad,3,For Rent,3,3811,10.495933
1,9154511,Upper Portion,40000,12th Avenue,Islamabad,3,For Rent,3,3811,10.495933
2,15022622,Penthouse,40000,12th Avenue,Islamabad,4,For Rent,4,2722,14.695077
3,12038300,House,7000000,204 Chak Road,Faisalabad,4,For Sale,3,8984,779.162956
4,12178174,House,6200000,204 Chak Road,Faisalabad,3,For Sale,2,1361,4555.473916

In [40]:
data['purpose'].unique()

array(['For Rent', 'For Sale'], dtype=object)

In [41]:
column_name =[ 'property_type','location','city']

In [42]:
import nltk
from nltk.stem import PorterStemmer
nltk.download('punkt')
stemmer = PorterStemmer()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [43]:
data['property_type'] = data['property_type'].str.lower()
data['location'] = data['location'].str.lower()
data['city'] = data['city'].str.lower()

In [44]:
data['location'] = data['location'].apply(lambda x: ' '.join([stemmer.stem(word) for word in nltk.word_tokenize(x)]))
data['city'] = data['city'].apply(lambda x: ' '.join([stemmer.stem(word) for word in nltk.word_tokenize(x)]))

In [45]:
data.head()

,property_id,property_type,price,location,city,baths,purpose,bedrooms,Total_Area,price_per_sqfeet
0,9154510,upper portion,40000,12th avenu,islamabad,3,For Rent,3,3811,10.495933
1,9154511,upper portion,40000,12th avenu,islamabad,3,For Rent,3,3811,10.495933
2,15022622,penthouse,40000,12th avenu,islamabad,4,For Rent,4,2722,14.695077
3,12038300,house,7000000,204 chak road,faisalabad,4,For Sale,3,8984,779.162956
4,12178174,house,6200000,204 chak road,faisalabad,3,For Sale,2,1361,4555.473916

In [46]:
data['location'] = data['location'] + ' , ' + data['city']
data.drop(['price_per_sqfeet'], axis=1, inplace=True)
data.head()

,property_id,property_type,price,location,city,baths,purpose,bedrooms,Total_Area
0,9154510,upper portion,40000,"12th avenu , islamabad",islamabad,3,For Rent,3,3811
1,9154511,upper portion,40000,"12th avenu , islamabad",islamabad,3,For Rent,3,3811
2,15022622,penthouse,40000,"12th avenu , islamabad",islamabad,4,For Rent,4,2722
3,12038300,house,7000000,"204 chak road , faisalabad",faisalabad,4,For Sale,3,8984
4,12178174,house,6200000,"204 chak road , faisalabad",faisalabad,3,For Sale,2,1361

In [47]:
data = data.sample(frac=1, random_state=42)

In [48]:
# Separate data for sale and for rent
sale_data = data[data['purpose'] == 'For Sale']
rent_data = data[data['purpose'] == 'For Rent']

In [49]:
# Delete the last  rows from the DataFrame
sale_data = sale_data.iloc[:-60000]
rent_data=rent_data.iloc[:-20000]
sale_data = sale_data.reset_index(drop=True)
rent_data = rent_data.reset_index(drop=True)

In [50]:
sale_data.shape
rent_data.shape

(22350, 9)

In [51]:
# text vectorization
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [52]:
sale_data.head()

,property_id,property_type,price,location,city,baths,purpose,bedrooms,Total_Area
0,17284562,flat,6000000,"north karachi , karachi",karachi,2,For Sale,2,12795
1,11341505,flat,2200000,"liaquatabad , karachi",karachi,1,For Sale,2,5989
2,15849756,house,18500000,"wapda town , lahor",lahor,5,For Sale,4,2722
3,16746759,flat,16000000,"feder b area , karachi",karachi,3,For Sale,3,16879
4,17273591,house,14000000,"gulshan abad , rawalpindi",rawalpindi,6,For Sale,6,2722

In [53]:
sale_vectors=cv.fit_transform(sale_data['location']).toarray()
rent_vectors=cv.fit_transform(rent_data['location']).toarray()

In [54]:
sale_vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [55]:
input1=input("Enter your choice : (for sale or for rent): ")

Enter your choice : (for sale or for rent :  )for sale

In [56]:
from sklearn.metrics.pairwise import cosine_similarity
sale_similarity=cosine_similarity(sale_vectors)
rent_similarity=cosine_similarity(rent_vectors)

In [57]:
sale_similarity.shape

(21357, 21357)

In [58]:
rent_similarity.shape

(22350, 22350)

In [59]:
sale_data.tail()

,property_id,property_type,price,location,city,baths,purpose,bedrooms,Total_Area
21352,17054552,house,15000000,"harley street , rawalpindi",rawalpindi,4,For Sale,4,2722
21353,17110104,house,28000000,"lake citi , lahor",lahor,7,For Sale,6,5445
21354,17323128,house,46000000,"bahria town , lahor",lahor,6,For Sale,5,5445
21355,17116751,house,6500000,"township , lahor",lahor,1,For Sale,1,1089
21356,17154296,flat,7800000,"gulistan-e-jauhar , karachi",karachi,2,For Sale,2,11434

In [60]:
def recommend(location):
  if input1=='for sale':
    cities=['karachi','lahor','islamabad','faisalabad','rawalpindi']
    if location in cities:
      movie_index = sale_data[sale_data['city']== location].index[0]
      distances = sale_similarity[movie_index]
      movies_list = sorted(enumerate(distances), reverse=True, key=lambda x: x[1])[:30]
    else:
      movie_index = sale_data[sale_data['location']== location].index[0]
      distances = sale_similarity[movie_index]
      movies_list = sorted(enumerate(distances), reverse=True, key=lambda x: x[1])[:30]
    print("Recommended property are : ")
    for i in movies_list:
        recommended_property=[]
        recommended_property_1 = sale_data.iloc[i[0]]['property_type']
        recommended_property_2 = sale_data.iloc[i[0]]['location']
        recommended_property_3 = sale_data.iloc[i[0]]['baths']
        recommended_property_4 = sale_data.iloc[i[0]]['bedrooms']
        recommended_property_5 = sale_data.iloc[i[0]]['Total_Area']
        recommended_property_6 = sale_data.iloc[i[0]]['price']
        recommended_property.append({
          "property_type": recommended_property_1,
          "location": recommended_property_2,
          "baths": recommended_property_3,
          "bedrooms": recommended_property_4,
          "Total_Area":recommended_property_5,
          "price":recommended_property_6
      })
        print(recommended_property)
  elif input1=='for rent':
    cities=['karachi','lahor','islamabad','faisalabad','rawalpindi']
    if location in cities:
      movie_index = rent_data[rent_data['city']== location].index[0]
      distances = rent_similarity[movie_index]
      movies_list = sorted(enumerate(distances), reverse=True, key=lambda x: x[1])[:30]
    else:
      movie_index = rent_data[rent_data['location'] == location].index[0]
      distances = rent_similarity[movie_index]
      movies_list = sorted(enumerate(distances), reverse=True, key=lambda x: x[1])[:30]
    print("Recommended property are: ")
    for i in movies_list:
          recommended_property=[]
          recommended_property_1 = rent_data.iloc[i[0]]['property_type']
          recommended_property_2 = rent_data.iloc[i[0]]['location']
          recommended_property_3 = rent_data.iloc[i[0]]['baths']
          recommended_property_4 = rent_data.iloc[i[0]]['bedrooms']
          recommended_property_5 = rent_data.iloc[i[0]]['Total_Area']
          recommended_property_6 = rent_data.iloc[i[0]]['price']
          recommended_property.append({
          "property_type": recommended_property_1,
          "location": recommended_property_2,
          "baths": recommended_property_3,
          "bedrooms": recommended_property_4,
          "Total_Area":recommended_property_5,
          "price":recommended_property_6
      })
          print(recommended_property)

In [61]:
rent_data.head()

,property_id,property_type,price,location,city,baths,purpose,bedrooms,Total_Area
0,15867971,house,85000,"bani gala , islamabad",islamabad,6,For Rent,3,5445
1,17289850,house,130000,"f-11 , islamabad",islamabad,3,For Rent,3,5445
2,16161091,house,50000,"bahria town rawalpindi , rawalpindi",rawalpindi,3,For Rent,3,1905
3,15168916,flat,17000,"pwd road , islamabad",islamabad,2,For Rent,2,8439
4,15951749,upper portion,85000,"e-11 , islamabad",islamabad,3,For Rent,3,5445

In [62]:
input2=input("Enter your location for property search : ")

Enter your location for property search : islamabad

In [63]:
stemmed_input = ' '.join([stemmer.stem(word) for word in nltk.word_tokenize(input2)])
print(stemmed_input)

islamabad

In [64]:
recommend(stemmed_input)

Recommended property are :
[{'property_type': 'house', 'location': 'g-9 , islamabad', 'baths': 4, 'bedrooms': 4, 'Total_Area': 15246, 'price': 25500000}]
[{'property_type': 'house', 'location': 'i-8 , islamabad', 'baths': 6, 'bedrooms': 9, 'Total_Area': 30492, 'price': 50000000}]
[{'property_type': 'house', 'location': 'i-8 , islamabad', 'baths': 3, 'bedrooms': 6, 'Total_Area': 33759, 'price': 40000000}]
[{'property_type': 'house', 'location': 'f-8 , islamabad', 'baths': 3, 'bedrooms': 5, 'Total_Area': 98010, 'price': 105000000}]
[{'property_type': 'house', 'location': 'g-6 , islamabad', 'baths': 3, 'bedrooms': 5, 'Total_Area': 87120, 'price': 130000000}]
[{'property_type': 'house', 'location': 'f-8 , islamabad', 'baths': 5, 'bedrooms': 5, 'Total_Area': 70785, 'price': 100000000}]
[{'property_type': 'house', 'location': 'f-7 , islamabad', 'baths': 4, 'bedrooms': 5, 'Total_Area': 70785, 'price': 110000000}]
[{'property_type': 'house', 'location': 'i-8 , islamabad', 'baths': 7, 'bedrooms': 7, 'Total_Area': 33759, 'price': 45000000}]
[{'property_type': 'house', 'location': 'i-8 , islamabad', 'baths': 3, 'bedrooms': 6, 'Total_Area': 38659, 'price': 57500000}]
[{'property_type': 'house', 'location': 'f-6 , islamabad', 'baths': 5, 'bedrooms': 5, 'Total_Area': 59895, 'price': 85000000}]
[{'property_type': 'house', 'location': 'g-9 , islamabad', 'baths': 2, 'bedrooms': 4, 'Total_Area': 29675, 'price': 36000000}]
[{'property_type': 'house', 'location': 'f-6 , islamabad', 'baths': 3, 'bedrooms': 5, 'Total_Area': 76230, 'price': 100000000}]
[{'property_type': 'house', 'location': 'i-9 , islamabad', 'baths': 3, 'bedrooms': 5, 'Total_Area': 25319, 'price': 27500000}]
[{'property_type': 'house', 'location': 'i-8 , islamabad', 'baths': 6, 'bedrooms': 6, 'Total_Area': 38659, 'price': 49000000}]
[{'property_type': 'house', 'location': 'f-6 , islamabad', 'baths': 6, 'bedrooms': 6, 'Total_Area': 59895, 'price': 125000000}]
[{'property_type': 'house', 'location': 'i-9 , islamabad', 'baths': 3, 'bedrooms': 3, 'Total_Area': 15246, 'price': 13500000}]
[{'property_type': 'house', 'location': 'i-8 , islamabad', 'baths': 3, 'bedrooms': 3, 'Total_Area': 38659, 'price': 45000000}]
[{'property_type': 'flat', 'location': 'f-8 , islamabad', 'baths': 3, 'bedrooms': 3, 'Total_Area': 31853, 'price': 58000000}]
[{'property_type': 'house', 'location': 'f-6 , islamabad', 'baths': 5, 'bedrooms': 5, 'Total_Area': 48460, 'price': 70000000}]
[{'property_type': 'house', 'location': 'f-6 , islamabad', 'baths': 5, 'bedrooms': 6, 'Total_Area': 87120, 'price': 100000000}]
[{'property_type': 'house', 'location': 'f-7 , islamabad', 'baths': 5, 'bedrooms': 8, 'Total_Area': 70785, 'price': 130000000}]
[{'property_type': 'house', 'location': 'i-8 , islamabad', 'baths': 3, 'bedrooms': 5, 'Total_Area': 38659, 'price': 43500000}]
[{'property_type': 'house', 'location': 'i-8 , islamabad', 'baths': 10, 'bedrooms': 9, 'Total_Area': 65340, 'price': 92500000}]
[{'property_type': 'house', 'location': 'f-6 , islamabad', 'baths': 5, 'bedrooms': 5, 'Total_Area': 87120, 'price': 120000000}]
[{'property_type': 'house', 'location': 'f-7 , islamabad', 'baths': 6, 'bedrooms': 6, 'Total_Area': 70785, 'price': 120000000}]
[{'property_type': 'house', 'location': 'i-8 , islamabad', 'baths': 6, 'bedrooms': 6, 'Total_Area': 65340, 'price': 105000000}]
[{'property_type': 'house', 'location': 'f-8 , islamabad', 'baths': 3, 'bedrooms': 3, 'Total_Area': 65340, 'price': 110000000}]
[{'property_type': 'house', 'location': 'e-7 , islamabad', 'baths': 8, 'bedrooms': 8, 'Total_Area': 87120, 'price': 180000000}]
[{'property_type': 'house', 'location': 'f-8 , islamabad', 'baths': 10, 'bedrooms': 9, 'Total_Area': 70785, 'price': 190000000}]
[{'property_type': 'house', 'location': 'f-6 , islamabad', 'baths': 3, 'bedrooms': 4, 'Total_Area': 29130, 'price': 46000000}]

In [66]:
import pickle
pickle.dump(sale_data.to_dict(),open('sale_dict1.pkl','wb'))
pickle.dump(sale_similarity,open('sale_similarity.pkl','wb'))

In [ ]:
pickle.dump(rent_data.to_dict(),open('rent_dict1.pkl','wb'))
pickle.dump(rent_similarity,open('rent_similarity.pkl','wb'))